@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

:root {
    --light: rgb(202, 202, 202);
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
}

header {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    background-color: rgb(49, 49, 49);
    color: var(--light);
    padding: 0 5px;
    
}

.projects {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(49, 49, 49);
    color: white;
    overflow: scroll;
    overflow-x: hidden;
}

.projects-content {
    list-style: none;
    padding: 0 5px;
}

.projects-header {
    display: flex;
}

.projects-item {
    display: flex;
    margin: 5px 0;
    gap: 3px;
}

.active-project {
    border: red solid;
}

.projects-item-name,
.edit-project-name {
    flex: 1;
    background-color: var(--light);
    border: none;
    border-radius: 4px;
}

.projects-item-name:focus,
.edit-project-name:focus {
    outline: none;
}

.projects-item-name:hover {
    cursor: pointer;
}

.btn-project-icon {
    height: 20px;
    width: auto;
}

.task-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    overflow: scroll;
    overflow-x: hidden;
    background-color: var(--light);
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.form-add-task {
    background-color: rgb(252, 242, 230);
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 30px;
}

.btn-add-task {
    border: black 3px solid;
    background-color: #5eaafb;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 3rem;
}

.form-input-container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
}

.form-input-container label {
    font-weight: bold;
}

.form-btn-container {
    display: flex;
    justify-content: end;
    grid-column: 1 / -1;
    font-size: 1.2rem;
    font-weight: bold;
}

.form-add-task label {
    grid-column: 1 / 2;
}

.form-title,
.form-description {
    grid-column: 2 / -1;
}

.form-description {
    resize: none;
}

.btn-submit-form {
    margin: 0 30px;
}

.btn-project-rename-accept {
    display: none;
}

.btn-project-rename {
    fill: rgb(29, 29, 170);
}

.btn-project {
    background-color:  var(--light);
    border: none;
    padding: 0px;
    border-radius: 4px;
}

.task-list {
    padding-bottom: 200px;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px 0 5px;
    border-bottom: solid 2px rgb(180, 180, 180);
    background-color: rgb(252, 242, 230);
}

.task-date {
    margin-left: auto;
    font-size: .8rem;
}

.task-title {
    font-weight: bold;
}

.task-priority {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex: none;
}

.priority-high {
    background-color: red;
}

.priority-med {
    background-color: yellow;
}

.priority-low {
    background-color: green;
}

.task-desc {
    font-size: .8rem;
    color: grey
}

.btn-edit-container {
    margin-left: 30px;
}

.btn-edit {
    border: solid 2px;
    border-radius: .6rem;
    padding: 1px 6px;
    font-size: .8rem;
}

.btn-delete {
    border: solid rgb(173, 0, 0) 2px;
    color: rgb(173, 0, 0);
    border-radius: .6rem;
    padding: 1px 6px;
    font-size: .8rem;
}

.btn-delete:hover,
.btn-edit:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    align-items: center;
}

.task:nth-child(even) {
    background-color: white;
}